
<h1 class="headline"> Your Family </h1>

<div class="container">
  <h2 class="h1">Parent Information</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Link to</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= @user.email %></td>
        <td><%= @user.fname %></td>
        <td><%= @user.lname %></td>
        <td><%= link_to 'Edit', edit_user_registration_path(@user) %></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<div class="container">
  <h2 class="h1">Kid Information</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Hobbies</th>
      </tr>
    </thead>
    <% @kids.each do |kid| %>
    <tbody>
      <tr>
        <td><%= kid.name %></td>
        <td><%= kid.age %></td>
        <td><%= kid.gender %></td>
        <td><%= kid.hobbies%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>


<div class="container">
  <h1 class="h1"> Add a child </h1>
<%= form_for @kid do |f| %>
  <%= f.label :Name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :Age %><br>
    <%= f.number_field :age %><br>
    <%= f.label :Gender %><br>
    <%= f.text_field :gender %><br>
    <%= f.label :Hobbies %><br>
    <%= f.text_area :hobbies %><br>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit class: "btn btn-primary"  %>
<% end %>
</div>
