<h2 class="title">Events Index</h2>


			<% @events.each do |event| %>

				<%= event.id %>
				<%= event.title %>
        <%= event.description %>
        <%= event.start_at %>
        <%= event.location %>

				<%= link_to 'Show', event_path(event.id) %>

			<% end %>
<div class="tweets">
<a class="twitter-timeline" data-width="229" data-height="600" data-theme="light" data-link-color="#19CF86
" href="https://twitter.com/urbanplaynyc">Tweets by urbanplaynyc</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
