

<%= @event.title %>.
<%= @event.description %>
<%= @event.start_at %>
<%= @event.location %>
<%= @event.address %>
<%= @event.latitude %>
<%= @event.longitude %>

<br>
<br>

<a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<%= link_to 'Cancel Event',  { action: :destroy, id: @event.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
