<%= form_for(location) do |f| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="lfield">
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
    <%= f.label :Description %><br>
    <%= f.text_field :description %><br>
    <%= f.label :Start_time %><br>
    <%= f.date_field :start_at %><br>
    <%= f.label :address %><br>
    	<%= select(:location, :address, [['Bryant Park NYC'],['Central Park NYC'],['Freshkills Park, Staten Island'],['Greenbelt, Staten Island'],['Bronx Park, Bronx'],['Marine Park, Brooklyn'],['Alley Pond Park, Queens'],['Flushing Meadow-Corona Park, Queens'],['Van Cortlandt Park, Bronx'],['Pelham Bay Park, Bronx'],['Columbus Park, NYC'],['Union Square Park, NYC'],['Roberto Clemente State Park, Bronx'],['Canarsie Park, Brooklyn'],['Brooklyn Bridge Park, Brooklyn']]) %>
  </div>





  <div class="lactions">
    <%= f.submit %>
  </div>
<% end %>
