<h1>Editing Event</h1>

<%= render 'form', location: @location %>
<div id="mv">
  <%= link_to 'Show', @location %> |
  <%= link_to 'Back', locations_path %>
</div>
<%= link_to 'Show', @location %> |
<%= link_to 'Back', locations_path %>


<div class="promo">
</div>
