<!DOCTYPE html>
<html>
  <head>
    <title>UpgApp</title>
    <%= csrf_meta_tags %>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--Fonts!-->
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">


<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</script>
  </head>
  <body>
<nav class="navbar navbar-static-top navbar-light bg-faded">
      <a href="#" class="navbar-brand">Urban Playground</a>
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/locations">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/<%= current_user.id %>">Profile</a>
        </li>

    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to "Sign in", new_user_session_path %></li>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
  <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
