<!DOCTYPE html>
<html>
  <head>
    <title>UpgApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<nav id="navbar">
      <ul>
        <li><%#= link_to "Profile", edit_user_path %></li>
        <li><%= link_to "Events", events_path %></li>
        <li><%#= link_to "Contact", contacts_path %></li>
      </ul>
    </nav>
    <!-- <div class="logo">
      <img src=""
    </div> -->


    <%= yield %>
  </body>
</html>
